body{
    background: pink;
}

h1{
    text-align: Center;
    background: white;
    border-radius: 20px;
}
ul{
    text-align: center;
    list-style-type: none;
    background: white;
    border-radius: 20px;
    margin: 0;
    display: 0;
}
h2{
    text-align: center;
    background: white;
    border-radius: 40px;
}
.im{
    width: 100%;
    height: 100%;
}

button{
    display: block;
    margin: 0 auto;
    
    
}